<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>BASIC INFO SITE</title>
</head>

<body>
    <nav>
        <div class="site-title">IMS NODE.JS SITE</div>
        <ul>
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/about">ABOUT</a>
            </li>
            <li>
                <a href="/contact">CONTACT</a>
            </li>
        </ul>
    </nav>
    <h1>PAGE NOT FOUND</h1>
    <img src="../404.png" alt="error 404">
    <footer>Copyright &copy; immutable studio 2024</footer>
</body>
</html>