<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>BASIC INFO SITE</title>
</head>

<body>
    <nav>
        <div class="site-title">IMS NODE.JS SITE</div>
        <ul>
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/about">ABOUT</a>
            </li>
            <li>
                <a href="/contact">CONTACT</a>
            </li>
        </ul>
    </nav>

    <div class="content create-blog">
        <form action="" method="post">
            <label for="name">Full name: </label>
            <input type="text" name="name" required>
            <label for="email">Eamil address: </label>
            <input type="email" name="email" required>
            <label for="body">Your message: </label>
            <textarea name="body" id="body" required></textarea>
            <button>Submit</button>
        </form>
    </div>
    <footer>Copyright &copy; immutable studio 2024</footer>
</body>
</html>