<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>BASIC INFO SITE</title>
</head>
<body>
    <nav>
        <div class="site-title">IMS NODE.JS SITE</div>
        <ul>
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/about">ABOUT</a>
            </li>
            <li>
                <a href="/contact">CONTACT</a>
            </li>
        </ul>
    </nav>
    <h1 class="content" >This is my first node.js site</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi officiis itaque soluta iure amet libero a sit. Totam adipisci nulla architecto cupiditate molestiae, dignissimos natus nesciunt rerum voluptatum, consequuntur id.
    Quisquam similique officiis, necessitatibus voluptate quis earum saepe neque enim explicabo et impedit nobis voluptatem iusto labore ullam dicta! Beatae quasi fuga veniam itaque assumenda repellat quo expedita architecto cum.
    Ullam animi ducimus quia, provident autem nihil voluptatibus nam mollitia eos aut vitae magni quaerat dolores odio, dicta impedit tempora ratione eius quas quo, consequuntur necessitatibus. Similique reiciendis debitis quo.</p>

    <footer>Copyright &copy; immutable studio 2024</footer>
</body>
</html>